nav {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

a:hover {
    color: royalblue;
}

.button-edit {
    color: white;
    text-decoration: none;
    width: 80px;
    height: 40px;
    font-size: 13px;
    padding: 10px;
    background-color: royalblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}

.button-delete {
    color: white;
    text-decoration: none;
    width: 80px;
    height: 40px;
    font-size: 13px;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button-add {
    color: white;
    text-decoration: none;
    width: 100px;
    height: 40px;
    font-size: 13px;
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* div que contem a lista e botoes para manipurar os artigos */
div {
    display: flex;
    gap: 10px;
    align-items: center;    
}
