nav {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

a:hover {
    color: royalblue;
}

.list-articles {
    font-size: 20px;
    color: black;
    text-decoration: none;
}