<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/admin">Admin</a>
    </nav>
    <h1>Leia nossos artigos:</h1>
    {% for article in articles %}
        <Ol><a class="list-articles" href="/article/{{article.id}}">{{ article.title }}</a></Ol>
    {% endfor %}
</body>
</html>
