<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN ADMIN</title>
</head>
<body>
    <div>
        <form action="/admin/loged" method="post">

        <label for="login">Usuario:</label>
        <input type="text" name="login" placeholder="Digite login">

        <label for="senha">Conteudo:</label>
        <input type="text" name="senha" placeholder="Digite senha"> 
        
        <button type="submit">LOGIN</button>

    </form>
    </div>
</body>
</html>