<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando Artigo</title>
</head>
<body>

    <form action="/articles" method="post">

        <label for="title">Titulo:</label>
        <input type="text" name="title" placeholder="Digite o titulo do artigo">

        <label for="content">Conteudo:</label>
        <input type="text" name="content" placeholder="Escreva seu artigo aqui"> 
        
        <button type="submit">Enviar</button>

    </form>
      
</body>
</html>